* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
body {
    font-family: "Poppins", sans-serif;
    Font-size: 15px;
}
main {
    min-height: 100vh;
    background: var(--Very-Light-Gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.container header {
    text-align: center;
}
.container header h1 {
    color: var(--Very-Dark-Blue);
    font-size: 1.5rem;
    font-weight: 200;
}
.container header h2 {
    color: var(--Very-Dark-Blue);
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.container header p {
    width: 530px;
    color: var(--Grayish-Blue);
    margin: 0 auto 60px;
}
section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.box {
    background: white;
    padding: 20px;
    box-shadow: 0 0 15px var(--Grayish-Blue);
    border-radius: 10px;
    width: 380px;
    border-top: 3px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.box:first-child {
    border-color: var(--Cyan);
}
.content > .box:first-child {
    border-color: var(--Red);
}
.content > .box:last-child {
    border-color: var(--Orange);
}
.box:last-child {
    border-color: var(--Blue);
}
.box h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.box p {
    color: var(--Grayish-Blue);
    width: 300px;
    width: 300px;
}
.box .image {
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
@media (max-width: 1300px) {
    section {
        flex-direction: column;
    }
    .content {
        flex-direction: row;
    }
}
@media (max-width: 900px) {
    .content {
        flex-direction: column;
    }
}
@media (max-width: 550px) {
    .container header h1 {
        font-size: 1.6rem;
    }
    .container header h2 {
        font-size: 1.6rem;
    }
    .container header p {
        width: 300px;
    }
    .box {
        width: 325px;
        padding: 20px;
    }
}